.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
}

.login-form {
  width: 350px;
  padding: 24px;
  background: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: var(--primary-color);
}

.login-form-button {
  width: 100%;
}